---
import Layout from "../layouts/Base.astro";

---

<Layout title="Not found">
  <section class="section">
    <div class="container text-center grid gap-4">
      <h1 class="text-5xl lg:text-9xl font-bold">404</h1>
      <p>Sorry, we couldn't fint that page</p>
      <a href="/" class="btn btn-neutral mx-auto shadow-none rounded-none"
        >GO TO HOME</a
      >
    </div>
  </section>
</Layout>
