---
import AuthorCard from "../components/AuthorCard.astro";

import { client } from "../lib/sanity";
const locale = Astro.currentLocale;

const authors = await client.fetch(
  `
  *[_type == "author" && language == $locale] | order(_createdAt desc)[0...6]{
    name,
    city,
    job,
    "slug": slug.current,
    "image": image.asset->url
  }
`,
  {
    locale,
  },
);

//console.log("authors", authors);
---

{
  authors?.length > 0 ? (
    <section class="section section-authors">
      <div class="container">
        <div class="border-t pt-8">
          <div class="flex flex-wrap gap-4 justify-between items-center">
            <h2 class="h1">Authors</h2>
            <a
              href={`/${locale}/authors`}
              class="btn btn-link text-inherit uppercase no-underline group p-0"
            >
              All Authors
              <i class="fa-solid fa-arrow-right group-hover:translate-x-1" />
            </a>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 mt-10">
            {authors.map((author) => (
              <AuthorCard {...author} />
            ))}
          </div>
        </div>
      </div>
    </section>
  ) : null
}
