---
const today = new Date();
import Logo from "./Logo.astro";
import Socials from "./Socials.astro";

const navbar = [
  {
    links: [
      {
        url: "#",
        title: "Art",
      },
      {
        url: "#",
        title: "Design",
      },
      {
        url: "#",
        title: "Architecture",
      },
    ],
  },
  {
    links: [
      {
        url: "/blog",
        title: "Magazine",
      },

      {
        url: "/podcast",
        title: "Podcast",
      },
      {
        url: "/authors",
        title: "Authors",
      },
    ],
  },
  {
    links: [
      {
        url: "#",
        title: "Styleguide",
      },
      {
        url: "#",
        title: "Licensing",
      },
      {
        url: "#",
        title: "Changelog",
      },
    ],
  },
];
---

<footer class="footer bg-black text-white pb-10 pt-5">
  <div
    class="footer-topline overflow-hidden uppercase flex gap-4 overflow-x-hidden w-full"
  >
    {Array.from({ length: 100 }).map((_) => <span>Newsletter+++</span>)}
  </div>
  <div class="footer-top w-full">
    <div class="container">
      <div
        class="grid grid-cols-1 md:grid-cols-[1fr_auto] xl:grid-cols-[1fr_2fr] gap-10 items-center"
      >
        <div>
          <h2 class="text-4xl sm:text-5xl uppercase font-bold">
            Design News to your inbox
          </h2>
        </div>
        <div>
          <form
            action="/"
            method="GET"
            class="flex flex-wrap gap-3 items-center md:ml-auto lg:max-w-sm"
          >
            <input
              type="text"
              required
              name="subscribe_email"
              id="subscribe-email"
              placeholder="Email"
              class="input text-black rounded-none flex-1"
            />
            <button
              class="btn bg-white rounded-none shadow-none hover:bg-neutral hover:text-white uppercase"
              type="submit">Sign Up</button
            >
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-mdl w-full">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-[1fr_3fr] gap-10">
        <div>
          <Logo />
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3">
          {
            navbar.map((item) => (
              <nav class="grid gap-0">
                {item.links.map((link) => (
                  <a href={link.url} class="hover:underline px-4 py-2">
                    {link.title}
                  </a>
                ))}
              </nav>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div class="footer-btm w-full">
    <div class="container flex flex-wrap gap-4 justify-between items-center">
      <p class="text-xs opacity-50">
        &copy; {today.getFullYear()} Made by Anastasiia Berest - Powered by Astro
        + Sanity CMS
      </p>
      <Socials />
    </div>
  </div>
</footer>
