---

---

<div class="bg-[#F8F8F8] p-10">
  <h4 class="uppercase font-semibold mb-4 text-xl">NewsLetter</h4>
  <p class="text-3xl font-semibold mb-6">Design News to your inbox</p>

  <form action="/" method="GET" class="grid gap-3 items-end mt-4">
    <input
      type="text"
      required
      name="subscribe_email_block"
      id="subscribe-email_block"
      placeholder="Email"
      class="input text-black rounded-none w-full"
    />
    <button
      class="btn btn-neutral rounded-none uppercase ml-auto mr-0"
      type="submit">Sign Up</button
    >
  </form>
</div>
