<section class="my-4">
  <div class="container">
    <div class="bg-black text-white overflow-x-hidden flex gap-4 p-4">
      <p class="shrink-0">
        <b>News Ticker+++</b>
      </p>
      {
        Array.from({ length: 5 }).map((_) => (
          <p class="shrink-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit +++
          </p>
        ))
      }
    </div>
  </div>
</section>
